doctype html
html
  head

    title Enregistrement - miniTwr
    link(rel='stylesheet', href='/stylesheets/styleEnregistrement.css')
   
  body
  
    h1 Enregistrement
    nav(class="sticky")
      ul(class="menu")
        li
          a(href="/" class="accueil") Accueil
        li 
          a(href="profil" class="profil") Profil
        li 
          a(href="https://octodex.github.com" class="octodex") Octodex
        li 
          a(href="octochat" class="chat") Octochat
        li
          a(href="option" class="option") Options
  
