extends layout

block content



  header
    form(method="post" action="traitement.php")
      p 
        img(src="/images/miniTwr.png" alt="logo du site" class="logo")
        label(for="pseudo") Pseudo :
        input(type="text" name="pseudo" id="pseudo" placeholder="Votre pseudo...")
        label(for="pwd") Mot de Passe :
        input(type="password" name="pwd" id="pwd" placeholder="Votre mot de passe...")
        input(type="submit" value="Connexion")
        a(href="enregistrement" class="enregistrer") "S'enregistrer"
        a(href="deconnexion" class="deconnexion") Deconnexion




  p
    img(src="/images/baniere.jpg" alt="Banière du site" id="baniere" class="static")

  nav(class="sticky")
    ul(class="menu")
      li
        a(href="/" class="accueil") Accueil
      li 
        a(href="profil" class="profil") Profil
      li 
        a(href="https://octodex.github.com" class="octodex") Octodex
      li 
        a(href="octochat" class="chat") Octochat
      li
        a(href="option" class="option") Options
        
        
  section(id="secDroite" class="sticky")
    p Utilisateurs en ligne



  section(class="secTweet")
    h1= title
    p 
    form(action='/', method='POST')
      textarea(name="tweet", rows=3, columns=50, class="zoneSaisie")
      input(type='submit', content='Sends', value='Envoyer')


    ul
      - each tweet in tweets
        li(class="tweet")= tweet




  footer
    img(src="/images/Aquicon-Github.png" class="octocat")
    p
      ul
        li Copyright : NOM Michel
        li Copyright : PERROT Denis
        li Copyright : HERMAL Ludovic

      a(href="mailto:contact@miniTwr.fr" class="contact") Contactez-nous !
      a(href="mailto:support@miniTwr.fr" class="support") Support


  script(src="/javascripts/jquery-1.7.1.min.js" type="text/javascript")
  script(src="/javascripts/sticky.js" type="text/javascript")

