doctype html
html
  head
    title minitwr
    link(rel='stylesheet', href='/stylesheets/style.css')
    style
      #zone_chat strong {color: white; background-color:black; padding: 2px;}
  body
    block content
