doctype html
html
  head
    title Octochat - miniTwr
    link(rel='steelsheets' href='/stylesheets/styleChat.css')

  body
      
    h1 Chat
    p Bienvenue sur le chat !
    
    nav(class="sticky")
      ul(class="menu")
        li
          a(href="/" class="accueil") Accueil
        li 
          a(href="profil" class="profil") Profil
        li 
          a(href="https://octodex.github.com" class="octodex") Octodex
        li 
          a(href="octochat" class="chat") Octochat
        li
          a(href="option" class="option") Options

    div
      p USERS
        div(id="users")
    
    div
      div(id="conversation")
        input(id="data" style="width:200px;")
        input(type="button" id="datasend" value="send")

  script(src="/socket.io/socket.io.js" type="text/javascript")
  script(src="/javascripts/jquery-1.7.1.min.js" type="text/javascript")
  script(src="/javascripts/chat.js" type="text/javascript")


