doctype html
html
  head
    title Octochat - miniTwr
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
  
    header
  

      form(method="post" action="traitement.php")
        p
          a(href="/" title="Accueil")
            img(src="/images/miniTwr.png" alt="logo du site" class="logo")
          aside
            label(for="pseudo") Pseudo :
            input(type="text" name="pseudo" id="pseudo" placeholder="Votre pseudo...")
            label(for="pwd") Mot de Passe :
            input(type="password" name="pwd" id="pwd" placeholder="Votre mot de passe...")
            input(type="submit" value="Connexion")


    p
      img(src="/images/baniereChat.jpg" alt="Banière du site" id="baniere" class="static")
    
    nav(class="sticky")
      h2 Menu
      ul(class="menu")
        li
          a(href="/" class="accueil") Accueil
        li 
          a(href="profil" class="profil") Profil
        li 
          a(href="https://octodex.github.com" class="octodex") Octodex
        li 
          a(href="octochat" class="chat") Octochat
        li
          a(href="option" class="option") Options

    section(id="secDroite" class="sticky")
      h2 Utilisateurs
      div(id="users")
    

    section(style="	word-wrap:break-word;box-sizing: border-box;border:2px black solid; width:60%;	margin-left:15%; min-height:250px;background-color:rgb(191,191,191);padding-left:5px;padding-top:5px;padding-bottom:5px;")
      h1 Bienvenue sur l'OctoChat !
      div(id="conversation")
      

    section(style="	border-left:2px black solid;box-sizing: border-box; border-right:2px black solid;border-bottom:2px black solid;  width:60%;	margin-left:15%;background-color:rgb(191,191,191);padding-left:5px;padding-top:5px;padding-bottom:5px; margin-bottom:1%;")
      input(id="data" style="width:200px;")
      input(type="button" id="datasend" value="Envoyer")

    footer
      img(src="/images/Aquicon-Github.png" class="octocat")
      p
        ul(class="copyright")
          li © Copyright : HERRBACH Michel
          li © Copyright : PERROT Denis
          li © Copyright : HERMAL Ludovic

      a(href="mailto:contact@miniTwr.fr" class="contact") Contactez-nous  
      a(href="mailto:support@miniTwr.fr" class="support") Support




  script(src="/socket.io/socket.io.js" type="text/javascript")
  script(src="/javascripts/jquery-1.7.1.min.js" type="text/javascript")
  script(src="/javascripts/chat.js" type="text/javascript")
  script(src="/javascripts/sticky.js" type="text/javascript")

