body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1
{
	color: rgb(255, 180, 0);
}

ul
{
	list-style-type: none;
}

li
{
	border: 1px black solid; 
	margin-bottom: 6px;
	padding-top: 6px;
	padding: 6px;
}
