body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:grey;
}


a {
  color: #00B7FF;
}

ul {
	list-style-type: none;
}

h1 {
	margin-left:15px;
}

.menu {
	margin-left:-40px;
}

.zoneSaisie {
	display:inlineblock;
	vertical-align:top;
	margin-left:3%;
	height:70px;
	width:42%;
}

.utilisateurs {
	margin-left: -20px;
	margin-right:17px;
}

.pseudo {
	display:inlineblock;
	vertical-align:top;
}

.tweet {

	border: 1px black solid; 
	margin-bottom: 6px;
	margin-left: -20px;
	margin-right:17px;
	padding: 6px;
	overflow:hidden;
	word-wrap:break-word;
}

.logo {
	max-width:10%;

}

#baniere {
	border:2px black solid;
	min-width:100%;
	height:200px;
	overflow:hidden;
	box-sizing: border-box;
}

header {
	border:2px black solid;
	background-color:rgb(191,191,191);
}

aside {
	position:absolute;
	top: 31px;
	right:25px;

}

nav {
	box-sizing: border-box;
	border:2px black solid;
	float:left;
	text-align:center;
	width:14%;
	margin-bottom:1%;
	min-height:300px;
	background-color:rgb(191,191,191);
}

.secTweet {
	padding-left:10px;
	box-sizing: border-box;
	margin-left:15%;
	width:60%;
	border:2px black solid;
	margin-bottom:1%;
	background-color:rgb(191,191,191);
}

#secDroite {
	text-align:center;
	box-sizing: border-box;
	width:24%;
	border:2px black solid;
	float:right;
	min-height:300px;
	margin-bottom:1%;
	background-color:rgb(191,191,191);
}


.octocat{
	float:right;
}

.copyright {
	float:left;
	margin-top:2%;
	margin-bottom:2%;
	
}

.contact {

	margin-left:15%;
	position:relative;
	top:35px;

}

.support {
	margin-left:45%;
	position:relative;
	top:20px;
}

footer {
	box-sizing: border-box;
	border:2px black solid;
	display:inline-block;
	min-width:100%;
	background-color:rgb(191,191,191);
	
}
