body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



a {
  color: #00B7FF;
}

h1 {
	color: rgb(255, 180, 0);
}

ul {
	list-style-type: none;
}

.tweet {
	border: 1px black solid; 
	margin-bottom: 6px;
	margin-left: -38px;
	padding: 6px;
}

.logo {
	max-width:10%;
}

.baniere {
	
	min-width:100%;
	height:200px;
	overflow:hidden;

}

.octocat{
	float:right;
}

footer {
	display:inline-block;
	vertical-align:top;
	
}
